@import "../../../node_modules/bulma/sass/utilities/_all.sass";

.modal-custom-style {
  .modal-card-head {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
    .modal-card-title {
      width: 95%;
    }
  }
  .modal-card {
    @include mobile {
      // Styles applied
      // below $tablet
      width: fit-content;
      max-width: 90%;
    }
    
    @include tablet {
      // Styles applied
      // above $tablet
      width: fit-content;
      max-width: 90%;
    }
  }
}
