---
import { Columns, Hero } from 'react-bulma-components'
import InterestCard from './InterestCard.astro';
import './IntroPage.scss'
let {interestData} = Astro.props
interestData = interestData.map((val) => val.row)
---
<div class="intro-page">
  <Hero.Header>
    <h2 class="title">Research Interests</h2>
  </Hero.Header>

  <p class="subtitle">Click one of my interest cards to learn more.</p>

  {interestData.map((row, i) => {
    // Render each row
    return (
      <Columns key={i + '-colset'}>
        {row.map((col, j) => {
          return (
            <Columns.Column>
              <InterestCard {...col} />
            </Columns.Column>
          )
        })}
      </Columns>
    )
  })}
</div>