---
import './LandingHero.scss'
import AboutCard from "./components/AboutCard.astro";
//import { HeroParticles } from './components/Particles';
import ScrollArrow from './components/ScrollArrow.astro';
import Particles from './components/Particles.astro';
const {aboutData} = Astro.props;
---

<div class="particles-container">
  <!--<HeroParticles client:load client:only />-->
  <Particles />
  <AboutCard aboutData={aboutData} />
  <ScrollArrow to={"intro"} />
</div>