---
import Icon from "@components/Icon/Icon.astro";
import { faGithub } from "@fortawesome/free-brands-svg-icons";
import { Button } from "react-bulma-components";

const {href} = Astro.props;
---

<a href={href} target="_blank">
  <Button size='small'>
    <span style="padding-right: 10px;">View on GitHub</span>
    <Icon faIcon={faGithub}></Icon>
  </Button>
</a>