---
import { Card, Heading } from 'react-bulma-components';
const { interestName, interestDesc } = Astro.props;
import './InterestCard.scss'
---

<interest-card>
  <div class="card max-w p-6 border rounded-lg shadow bg-gray-800 border-gray-700">
    <h3 class="text-2xl">{interestName}</h3>
    <div class='card-transition card-description-content-container'>
      <p set:html={interestDesc} />
    </div>
  </div>
</interest-card>
<script>
  import { InterestCard } from "./InterestCard";

  customElements.define('interest-card', InterestCard);
</script>