---
import './Page.scss'
---
<div class="page-container">
  <div class="page">
    <h1>Conner Bradley</h1>
    <span>Curriculum vitae</span>
  </div>
  <div class="page">
    <h1>Conner Bradley</h1>
    <span>Curriculum vitae</span>
  </div>
</div>