@media print {
  .page {
    border: unset;
    box-shadow: unset;
    border-radius: unset;
  }

  .page-container {
    display: unset;
  }
}

ul, ol {
  padding-left: 2rem;
  list-style-type: none;
}

li {
  padding-left: 1ch;
}

li::marker {
  @apply text-red-800;
  content: url("/~cbradley/img/bullet.svg");

  svg {
    @apply text-red-800;
  }
}

li:before {
  content: "<svg><circle cx="50" cy="50" r="50" /></svg>"
}