---
import { LicenceViewer } from "@components/LicenceViewer";

---
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      © 2023 by Conner Bradley. 
    </p>
    <LicenceViewer client:visible client:only />
  </div>
</footer>