// https://mycolor.space/?hex=%231F2424&sub=1
// https://coolors.co/294d46-684756-96705b-ab8476-ffbc42
.contact-container {
  @import "./GlobalStyles.scss";
  
  position: relative;
  h2:after {
    content: " ";
    display: block;
    border: 1.5px solid #56606c;
  }
  .hero {
    background-color: #96705b;
  }
  .card {
    background-color: #56606c;
    border: 1px solid #294d46;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  li {
    margin: unset;
    padding: unset;
    display: list-item;
    list-style: circle;
    margin-left: 4em;
  }
}
