// Globally we use darkly
@import '~bulmaswatch/darkly/_variables.scss';
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/media.sass";
@import "~bulma/sass/components/modal.sass";
@import "~bulma/sass/elements/other.sass";
@import "~bulma/sass/layout/_all.sass";
@import "~bulma/sass/grid/_all.sass";
@import '~bulmaswatch/darkly/_overrides.scss';

// Syntax highlighting
@import '~prismjs/themes/prism-tomorrow';

html{
  scroll-behavior:smooth;
  height: 100%;
}
body {
  height: 100%;
}

.segment-divider {
  padding: 0.25vh;
}

/** Used to make a button appear like an a tag */
.fake-href-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #23b697;
  cursor: pointer;
  transition: all 200ms ease;
}

.fake-href-button:hover {
  color: #1dd2af;
}
hr {
  background-color: #56606c;
}