// Globally we use darkly
@import '../../node_modules/bulmaswatch/darkly/_variables.scss';
@import 'bulma';
@import '../../node_modules/bulmaswatch/darkly/_overrides.scss';

.segment-divider {
  padding: 0.25vh;
}

/** Used to make a button appear like an a tag */
.fake-href-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: #23b697;
  cursor: pointer;
  transition: all 200ms ease;
}

.fake-href-button:hover {
  color: #1dd2af;
}

code {
  font-family: Monaco, Consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
  font-size: 95%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}
#content code {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #bebab0;
}

hr {
  background-color: #56606c;
}
