@import './GlobalStyles.scss';

.intro-page {
  .card {
    background-color: #3e795e;
    border: 1px solid #294d46;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0.5;
  }
  .card:hover,
  .card-container-visible {
    opacity: 1;
    transition: all 0.5s linear;
  }

  .card-content-visible {
    display: block;
    transition: all 0.5s linear;
  }

  .card-content-invisible {
    display: none;
    transition: all 0.5s linear;
  }

  .card-transition {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
  }
}
