h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.closeIcon {
    position: absolute;
    right: 15px;
    top: 15px;
    color: darkred;
}

.closeIcon:hover {
    color: red;
}

.fakehref {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #1abc9c;
    cursor: pointer;
    text-decoration: none;
    cursor: pointer;
  }
  
.wrap {
    word-wrap: break-word;
}