.post-content {
  ul, li { 
    list-style-type: disc; 
    list-style-position: inside; 
    margin-left: 15px; 
 }

 h1 {
  @apply text-5xl font-bold dark:text-white;
 }

 h2 {
  @apply text-4xl font-bold dark:text-white;
 }

 h3 {
  @apply text-3xl font-bold dark:text-white;
 }

 h4 {
  @apply text-2xl font-bold dark:text-white;
 }
}