---
import Icon from "@components/icon/Icon.astro";
import GithubButton from "@components/ui/GithubButton.astro";
import { faCircleArrowLeft } from "@fortawesome/free-solid-svg-icons";
import PageLayout from "./PageLayout.astro";
import SectionContainer from "@components/layout/SectionContainer.astro";
import Button from "@components/ui/Button.astro";
import "./Post.scss";

const { frontmatter } = Astro.props
const { github } = frontmatter
const base_url = import.meta.env.BASE_URL;

---
<PageLayout {...Astro.props}>
  <SectionContainer name="content" color="#1f2424">
    <div class="flex justify-between">
      <a href=`${import.meta.env.BASE_URL}`>
        <Button size='small'>
          <Icon faIcon={faCircleArrowLeft}></Icon>
          <span style={{ paddingLeft: '5px' }}>Return</span>
        </Button>
      </a>
  
      {!!github && (
        <GithubButton href={github} color={"primary"}></GithubButton>
      )}
    </div>

    <h1 class="mb-2 mt-0 text-3xl font-medium leading-tight text-white" style={{marginTop: '25px'}}>{frontmatter.title}</h1>
    <div class="space-y-4 text-white post-content">
      <slot />
    </div>
  </SectionContainer>
</PageLayout>

